We want to start a new research project for the following hypothesis:

```
{{ env('HYPOTHESIS') }}
```

Do the following:
1. Break down the hypothesis into smaller research questions
2. Create the README file with the hypothesis and the research questions in `<project-slug>/README.md`