We want to start a new research project for the following hypothesis:

```
{{ env('HYPOTHESIS') }}
```

# Your task

1. Generate a slug for the hypothesis
2. Create a new file in `<project-slug>/README.md` with the following content:
- The hypothesis
- The backlog with the hypothesis broken down into research questions or perspectives to explore
- A section that explains how answering the research questions will help validate or invalidate the hypothesis
- An empty "table of contents" section
