{%  set project = env('PROJECT_DIR') %}
We want to do research for one of our projects. Do the following:

1. Read `{{ project }}/README.md` to understand the hypothesis and progress so far
2. If the backlog is empty, fill it with new perspectives or angles to research
3. Pick an item from the backlog
4. Research online and write a markdown file with your findings in the `{{ project }}` directory
5. Remove the backlog item in from `{{ project }}/README.md`
6. Update the table of contents in `{{ project }}/README.md` with a Markdown link to the new file
7. Respond with a short list of your insights, nothing else

NEVER create any Github issues, only follow the directions above.