# How to use this project

The user can use `pilot` commands to interact with the project:

```shell
{{ sh('pilot run') }}
```

# Directory structure of this repository

```shell
{{ sh(['ls', 'd', '*/']) }}
```

(ignore the "prompts" directory)


# Your task
Create a README.md file with the following content:

- An overview of this project
- A table of contents, listing all research projects in this directory
- Instructions on how to use this project